/*
Error: Invalid CSS after "...ing: 0 rem(math": expected ")", was ".div($container..."
        on line 94 of style.scss

89:             max-width: rem($maxWidthContainer);
90:             box-sizing: content-box;
91:             margin: 0 auto;
92:         }
93:         @if ($containerPadding>0) {
94:             padding: 0 rem(math.div($containerPadding, 2));
95:         }
96:     }
97: } @else {
98:     // По брейк-поинтам
99:     [class*='__container'] {

Backtrace:
style.scss:94
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/lexer.rb:240:in `expected!'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:862:in `assert_tok'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:644:in `funcall'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:531:in `css_min_max'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:507:in `ident'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_not'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_div'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_minus'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:295:in `unary_plus'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `times_div_or_mod'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `plus_or_minus'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `relational'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `eq_or_neq'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `and_expr'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:272:in `or_expr'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:484:in `space'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:422:in `interpolation'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:343:in `expr'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:853:in `assert_expr'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/parser.rb:68:in `parse'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:1164:in `sass_script'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:1002:in `value!'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:807:in `block in try_declaration'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:1284:in `rethrow'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:820:in `try_declaration'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:743:in `declaration_or_ruleset'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:331:in `if_directive'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:331:in `if_directive'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/brand/.gem/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/brand/.gem/bin/sass:25:in `load'
/home/brand/.gem/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ing: 0 rem(math\": expected \")\", was \".div($container...\"\A         on line 94 of style.scss\A \A 89:             max-width: rem($maxWidthContainer);\A 90:             box-sizing: content-box;\A 91:             margin: 0 auto;\A 92:         }\A 93:         @if ($containerPadding>0) {\A 94:             padding: 0 rem(math.div($containerPadding, 2));\A 95:         }\A 96:     }\A 97: } @else {\A 98:     // По брейк-поинтам\A 99:     [class*='__container'] {"; }
