/*
Error: Undefined variable: "$minWidth".
        on line 22 of null.scss

17: 	// outline: none;
18: }
19: html,
20: body {
21: 	height: 100%;
22: 	min-width: $minWidth + px;
23: }
24: body {
25: 	color: $mainColor;
26: 	line-height: 1;
27: 	font-family: $fontFamily;

Backtrace:
null.scss:22
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/tree/operation.rb:67:in `_perform'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/brand/.gem/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/brand/.gem/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/brand/.gem/bin/sass:25:in `load'
/home/brand/.gem/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$minWidth\".\A         on line 22 of null.scss\A \A 17: 	// outline: none;\A 18: }\A 19: html,\A 20: body {\A 21: 	height: 100%;\A 22: 	min-width: $minWidth + px;\A 23: }\A 24: body {\A 25: 	color: $mainColor;\A 26: 	line-height: 1;\A 27: 	font-family: $fontFamily;"; }
