@import "null.scss";

body {
    line-height: 1;
    color: #fff;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ------------------------------ */

$main:#eee;

/* ------------------------------ */

.main {
    flex-grow: 1;
    padding: 30px;
}
[class*='__container'] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1140px) {
    [class*='__container'] {
        //max-width:970px ;
    }
}

@media (max-width: 991.98px) {
    [class*='__container'] {
        //max-width:750px ;
    }
}

@media (max-width: 767.98px) {
    [class*='__container'] {
        //max-width: none;
    }
}
@media (min-width:1250px){
    .item-block{
        max-width: 350px;
    }
}



